/* Search.module.css */
.calendar .p-inputtext {
  @apply w-full h-full ml-2;
}

.calendar .p-datepicker {
  width: auto !important;
}

.calendar .p-datepicker-header {
  background-color: #EEF5FF !important;
}

.calendar .p-datepicker-calendar td {
  padding: 0 !important;
}
