/* Custom styles for the toast container */
.Toastify__toast-container {
    width: 320px;
    max-width: 100%;
    padding: 8px;
    z-index: 100000;
    position: absolute;
    top: -70px;
    right: -300px;
}

.Toastify__toast {
    border-radius: 10px;
    padding: 16px;
    background-color: #333;
    color: #fff;
    z-index: 100000;
}

/* Custom styles for the progress bar */
.Toastify__progress-bar {
    background-color: #176B87;
    z-index: 100000;
}

.Toastify__close-button {
    color: #fff;

}

.Toastify__toast--success {
    background-color: #004f03;
}

.Toastify__toast--error {
    background-color: #740800;
}

